@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

body{
    background-color: #000;
    color: #fafafa;
    overscroll-behavior: none !important;
}

@theme{
    --color-dviolet:#9346F8;
    --color-dgreen:#00FF9C;
    --color-dred:#FF0000;
    --color-dwhite:#fafafa;
    --color-dgrey:#1e1e1e;
    --color-dgreyinput:#3d3d3d;
    --color-dcardbg:rgba(30, 30, 30, 0.53); 
    --color-dlightgrey:rgba(30, 30, 30, 0.67);   
}

.navFont{
    font-family: "Do Hyeon", serif;
    font-weight: 400;
    font-style: normal;
}
.roomFont{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.glass-card {
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.96) 0%, rgba(41, 41, 41, 0.94) 61.9%, rgba(48, 48, 48, 0.90) 100%);
    box-shadow: 0px 4px 25.2px -3px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

@layer utilities {
  .scrollbar-thin-custom {
    scrollbar-width: thin;
    border-radius: 10px;
    scrollbar-color: #4b5563 #d1d5db;
  }

  .scrollbar-thin-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin-custom::-webkit-scrollbar-track {
    background: #d1d5db;
  }

  .scrollbar-thin-custom::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border: 2px solid #d1d5db;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  opacity: 0;
  transition: opacity 0.3s ease;
}

::-webkit-scrollbar:hover {
  opacity: 1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

* {
  -ms-scrollbar-track-color: transparent;
}

